<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="materialize/css/administrador/style.css">
    <link rel="stylesheet" href="materialize/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title th:text="${pontoTuristico == null ? 'Cadastro de Ponto Turistico' : 'Alteração de Ponto Turistico'}"></title>
</head>

<body>
    <header th:replace="fragments/padrao :: cabecalho"></header>
    <div class="container main z-depth-4">
        <h4 th:text="${pontoTuristico == null ? 'Cadastro de Ponto Turistico' : 'Alteração de Ponto Turistico'}"></h4>
        <form class="col s4" style="margin: 0 auto;" action="SalvarPontoTuristico" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${pontoTuristico?.id}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" name="nome" th:value="${pontoTuristico?.nome}" class="validate"
                        required autofocus autocomplete="off">
                    <label for="first_name">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="descricao" name="descricao" th:value="${pontoTuristico?.descricao}"
                        class="materialize-textarea" data-length="300"></textarea>
                    <label for="descricao">Descrição</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input id="cep" name="cep" type="text" class="validate" th:value="${pontoTuristico?.cep}">
                    <label for="cep">CEP</label>
                </div>
                <div class="input-field col s4">
                    <input id="logradouro" name="logradouro" type="text" class="validate" th:value="${pontoTuristico?.logradouro}" readonly>
                    <label for="logradouro">Endereço</label>
                </div>
                <div class="input-field col s4">
                    <input id="numero" name="numero" type="text" class="validate" th:value="${pontoTuristico?.numero}">
                    <label for="numero">Número</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input id="bairro" name="bairro" type="text" class="validate" th:value="${pontoTuristico?.bairro}" readonly>
                    <label for="bairro">Bairro</label>
                </div>
                <div class="input-field col s4">
                    <input id="cidade" name="cidade" type="text" class="validate" th:value="${pontoTuristico?.cidade}" readonly>
                    <label for="cidade">Cidade</label>
                </div>
                <div class="input-field col s4">
                    <input id="estado" name="estado" type="text" class="validate" th:value="${pontoTuristico?.estado}" readonly>
                    <label for="estado">Estado</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="tipo.id">
                        <option value="" disabled selected>Escolha um tipo de ambiente</option>
                        <option th:each="t: ${tipo}" th:text="${t.nome}" th:value="${t.id}" th:selected="${t.id == pontoTuristico?.tipo?.id}"></option>
                    </select>		
                    <label>Tipo de Ambiente</label>
                </div>
                <div class="input-field col s6">
                    <select name="estacionamento">
                        <option value="" disabled selected>O ponto turistico tem estacionamento?</option>
                        <option value="true" th:selected="${pontoTuristico?.estacionamento == true}">Sim</option>
                        <option value="false" th:selected="${pontoTuristico?.estacionamento == false}">Não</option>
                    </select>
                    <label>Estacionamento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="horario" name="horario" type="text" class="validate" th:value="${pontoTuristico?.horario}">
                    <label for="horario">Horario de funcionamento</label>
                </div>
            </div>
            <div class="file-field input-field">
                <div class="btn light-blue darken-1">
                    <span>Fotos</span>
                    <input type="file" name="fileFotos" multiple accept="image/*">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                </div>
            </div>
            <div class="fotos" th:if="${pontoTuristico?.fotos?.length > 0}">
            	<ul>
            		<li class="foto" th:each="f : ${pontoTuristico.verFotos()}">
            			<a th:href="${f}"><img th:src="${f}"></a>
            		</li>
            	</ul>
            </div>
            <button class="waves-effect waves-light btn light-blue darken-1" type="submit">
                <i th:text="${pontoTuristico == null ? 'person_add' : 'create'}"
                    class="material-icons right">person_add</i><span
                    th:text="${pontoTuristico == null ? 'CADASTRAR' : 'ALTERAR'}"></span>
            </button>
            <div th:replace="fragments/mensagem"></div>
        </form>
    </div>
    <footer th:replace="fragments/padrao :: footer"></footer>
    <script src="/materialize/js/materialize.js"></script>
	<script src="/js/script.js"></script>
    <script>
        $(document).ready(function () {
            $('textarea#descricao').characterCounter();
        });
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>